<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>DASHGUM - Bootstrap Admin Template</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
        
    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/style-responsive.css" rel="stylesheet">

      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

  <section id="container" >

      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content" ng-app="CheapAdmin" ng-controller="FlightCtrl">
          <section class="wrapper">
              <h3><i class="fa fa-angle-right"></i> QUẢN LÝ THÔNG TIN CHUYẾN BAY</h3>
              <div class="row">
                  <div class="col-md-15">
                      <div class="form-panel">
                          <h4 class="mb"><i class="fa fa-angle-right"></i> Thêm chuyến bay</h4>
                          <form class="form-horizontal style-form" method="get">
                              <div class="form-group">
                                  <label class="col-sm-2 col-sm-2 control-label">Mã chuyến bay</label>
                                  <div class="col-sm-5">
                                      <input type="text"  class="form-control" ng-model="addma" placeholder="Nhập mã chuyến bay">
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="col-sm-2 col-sm-2 control-label">Sân bay đi</label>
                                  <div class="col-sm-5">
                                      <input type="text" class="form-control" ng-model="addnoidi" placeholder="Nhập mã nơi đi">
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="col-sm-2 col-sm-2 control-label">Sân bay đến</label>
                                  <div class="col-sm-5">
                                      <input type="text" class="form-control" ng-model="addnoiden" placeholder="Nhập mã sân bay đến">
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="col-sm-2 col-sm-2 control-label">Ngày đi</label>
                                  <div class="col-sm-5">
                                      <input type="number"  class="form-control" ng-model="addngaydi" placeholder="Nhập thời gian đi">
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="col-sm-2 col-sm-2 control-label">Hạng</label>
                                  <div class="col-sm-5">
                                      <input type="text"  class="form-control" ng-model="addhang" placeholder="Nhập hạng">
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="col-sm-2 col-sm-2 control-label">Mức giá</label>
                                  <div class="col-sm-5">
                                      <input type="text"  class="form-control" ng-model="addmucgia" placeholder="Nhập mức giá">
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="col-sm-2 col-sm-2 control-label">Số ghế</label>
                                  <div class="col-sm-5">
                                      <input type="number"  class="form-control" ng-model="addsoghe" placeholder="Nhập số lượng ghế">
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="col-sm-2 col-sm-2 control-label">Giá bán</label>
                                  <div class="col-sm-5">
                                      <input type="number"  class="form-control" ng-model="addgiaban" placeholder="Nhập giá bán">
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="col-sm-2 col-sm-2 control-label">Ghế đã đặt</label>
                                  <div class="col-sm-5">
                                      <input type="number"  class="form-control" ng-model="addghedadat" placeholder="Nhập số lượng ghế đã đặt">
                                  </div>
                              </div>
                              <button type="submit" ng-model="themchuyenbay" ng-click="AddFlight()" class="btn btn-theme">Thêm chuyến bay</button>

                          </form>
                      </div><!-- /form-panel -->
                  </div><!-- /col-lg-12 -->
              </div>
              <div class="row">
                  <div class="col-md-15">
                      <div class="form-panel">
                          <h4 class="mb"><i class="fa fa-angle-right"></i> Danh sách các chuyến bay</h4>
                          <table class="table table-striped table-advance table-hover">
                              <hr>
                              <thead>
                              <tr>
                                  <th><i class="fa fa-bullhorn"></i> Mã chuyến bay</th>
                                  <th class="hidden-phone"><i class="fa fa-question-circle"></i> Nơi đi</th>
                                  <th><i class="fa fa-bookmark"></i> Nơi đến</th>
                                  <th><i class="fa fa-bullhorn"></i> Ngày đi</th>
                                  <th class="hidden-phone"><i class="fa fa-question-circle"></i> Hạng</th>
                                  <th><i class="fa fa-bookmark"></i> Mức giá</th>
                                  <th><i class="fa fa-bullhorn"></i> Số ghế</th>
                                  <th class="hidden-phone"><i class="fa fa-question-circle"></i> Giá bán</th>
                                  <th><i class="fa fa-bookmark"></i> Số chỗ đã đặt</th>
                                  <th></th>
                              </tr>
                              </thead>
                              <tbody  ng-repeat="item in flights">
                              <tr >
                                  <td>
                                      <div ng-hide="editData[item.edit]">{{item.Ma}}</div>
                                      <div ng-show="editData[item.edit]"><input type="text" ng-model="item.Ma"></div>
                                  </td>
                                  <td>
                                      <div ng-hide="editData[item.edit]">{{item.SanBayDi}}</div>
                                      <div ng-show="editData[item.edit]"><input type="text" ng-model="item.SanBayDi"></div>
                                  </td>
                                  <td>
                                      <div ng-hide="editData[item.edit]">{{item.SanBayDen}}</div>
                                      <div ng-show="editData[item.edit]"><input type="text" ng-model="item.SanBayDen"></div>
                                  </td>
                                  <td>
                                      <div ng-hide="editData[item.edit]">{{item.ThoiGianDi}}</div>
                                      <div ng-show="editData[item.edit]"><input type="text" ng-model="item.ThoiGianDi"></div>
                                  </td>
                                  <td>
                                      <div ng-hide="editData[item.edit]">{{item.Hang}}</div>
                                      <div ng-show="editData[item.edit]"><input type="text" ng-model="item.Hang"></div>
                                  </td>
                                  <td>
                                      <div ng-hide="editData[item.edit]">{{item.MucGia}}</div>
                                      <div ng-show="editData[item.edit]"><input type="text" ng-model="item.MucGia"></div>
                                  </td>
                                  <td>
                                      <div ng-hide="editData[item.edit]">{{item.SoLuongGhe}} chỗ</div>
                                      <div ng-show="editData[item.edit]"><input type="text" ng-model="item.SoLuongGhe"></div>
                                  </td>
                                  <td>
                                      <div ng-hide="editData[item.edit]">{{item.GiaBan}} VND</div>
                                      <div ng-show="editData[item.edit]"><input type="text" ng-model="item.GiaBan"></div>
                                  </td>
                                  <td>
                                      <div ng-hide="editData[item.edit]">{{item.GheDaDat}}</div>
                                      <div ng-show="editData[item.edit]"><input type="text" ng-model="item.GheDaDat"></div>
                                  </td>
                                  <td>
                                      <button ng-hide="editData[item.edit]" ng-click="Edit($index)" class="btn btn-primary btn-x"><i class="fa fa-pencil"></i></button>
                                      <button ng-show="editData[item.edit]" ng-click="Save($index, item)" class="btn btn-primary btn-x"><i class="fa fa-pencil"></i></button>
                                      <button ng-hide="editData[item.edit]" ng-click="DeleteFlight(item)" class="btn btn-danger btn-x"><i class="fa fa-trash-o"></i></button>
                                  </td>

                              </tr>
                              </tbody>
                          </table>
                      </div><!-- /content-panel -->
                  </div><!-- /col-md-12 -->
              </div>
          </section><! --/wrapper -->
      </section><!-- /MAIN CONTENT -->

      <!--main content end-->

  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/jquery-ui-1.9.2.custom.min.js"></script>   
    <script src="assets/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="assets/js/jquery.scrollTo.min.js"></script>
    <script src="assets/js/jquery.nicescroll.js" type="text/javascript"></script>
  <script src="js/admin_flights.js"></script>


  <!--common script for all pages-->
    <script src="assets/js/common-scripts.js"></script>


  </body>
</html>
