<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>DASHGUM - Bootstrap Admin Template</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="assets/js/gritter/css/jquery.gritter.css" />
        
    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/style-responsive.css" rel="stylesheet">


      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

  <section id="container" >
      <!-- **********************************************************************************************************************************************************

      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content" ng-app="CheapAdmin" ng-controller="SanbayCtrl">
          <section class="wrapper">
			<h3><i class="fa fa-angle-right"></i> QUẢN LÝ THÔNG TIN SÂN BAY</h3>
              <div class="row">
                  <div class="col-md-15">
                      <div class="form-panel">
                          <h4 class="mb"><i class="fa fa-angle-right"></i> Thêm sân bay</h4>
                          <form class="form-inline" role="form">
                              <div class="form-group">
                                  <input type="text" class="form-control" ng-model="addmasanbay" placeholder="Nhập mã sân bay">
                              </div>
                              <div class="form-group">
                                  <input type="text" class="form-control" ng-model="addtensanbay" placeholder="Nhập tên sân bay">
                              </div>
                              <button type="submit" class="btn btn-theme" ng-click="AddAirPort()">Thêm sân bay</button>
                          </form>
                      </div><!-- /form-panel -->
                  </div><!-- /col-lg-12 -->
              </div>
			<div class="row">
				<div class="col-md-15">
                      <div class="form-panel">
                          <h4 class="mb"><i class="fa fa-angle-right"></i> Danh sách sân bay</h4>
                          <table class="table table-striped table-advance table-hover">
	                  	  	  <hr>
                              <thead>
                              <tr>
                                  <th><i class="fa fa-bullhorn"></i> STT</th>
                                  <th class="hidden-phone"><i class="fa fa-question-circle"></i> Mã sân bay</th>
                                  <th><i class="fa fa-bookmark"></i> Tên sân bay</th>
                                  <th></th>
                              </tr>
                              </thead>
                              <tbody  ng-repeat="item in airports">
                              <tr class="infoticket">
                                  <td>
                                      <div ng-hide="editData[item.edit]">{{$index +1}}</div>

                                  </td>
                                  <td>
                                      <div ng-hide="editData[item.edit]">{{item.MaSanBay}}</div>
                                      <div ng-show="editData[item.edit]"><input type="text" ng-model="item.MaSanBay"></div>
                                  </td>
                                  <td>
                                      <div ng-hide="editData[item.edit]">{{item.Ten}}</div>
                                      <div ng-show="editData[item.edit]"><input type="text" ng-model="item.Ten"></div>
                                  </td>
                                  <td>
                                      <button ng-hide="editData[item.edit]" ng-click="Edit($index)" class="btn btn-primary btn-x"><i class="fa fa-pencil"></i></button>
                                      <button ng-show="editData[item.edit]" ng-click="Save($index, item)" class="btn btn-primary btn-x"><i class="fa fa-pencil"></i></button>
                                      <button ng-hide="editData[item.edit]" ng-click="DeleteAirPort(item)" class="btn btn-danger btn-x"><i class="fa fa-trash-o"></i></button>
                                  </td>

                              </tr>
                              </tbody>
                          </table>
                      </div><!-- /content-panel -->
                  </div><!-- /col-md-12 -->
          	</div>
          </section><! --/wrapper -->
      </section><!-- /MAIN CONTENT -->

      <!--main content end-->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/jjquery-1.8.3.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="assets/js/jquery.scrollTo.min.js"></script>
    <script src="assets/js/jquery.nicescroll.js" type="text/javascript"></script>

    <!--common script for all pages-->
    <script src="assets/js/common-scripts.js"></script>

    <!--script for this page-->
    <script type="text/javascript" src="assets/js/gritter/js/jquery.gritter.js"></script>
    <script type="text/javascript" src="assets/js/gritter-conf.js"></script>
    <script src="js/admin_sanbay.js"></script>

  </body>
</html>
