<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>DASHGUM - Bootstrap Admin Template</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="assets/js/fancybox/jquery.fancybox.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/style-responsive.css" rel="stylesheet">

    <script src="assets/js/jquery.js"></script>


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

  <section id="container" >

      
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content" ng-app="CheapAdmin" ng-controller="validateCtrl">
          <section class="wrapper site-min-height">
          	<h3><i class="fa fa-angle-right"></i> TÌM KIẾM THÔNG TIN CHUYẾN BAY ĐÃ ĐẶT</h3>
            <div class="row">
              <div class="col-md-15">
                <div class="form-panel">
                  <h4 class="mb"><i class="fa fa-angle-right"></i> Nhập địa chỉ email để tra cứu chuyến bay</h4>
                  <form class="form-horizontal style-form" role="form">
                    <div class="form-group">
                      <label class="col-sm-2 col-sm-2 control-label"> Đia chỉ Email</label>
                      <div class="col-sm-5">
                        <input type="text"  class="form-control" placeholder="Nhập email để tra cứu" ng-model="PassengerEmail">
                      </div>
                    </div>
                    <button type="submit" class="btn btn-theme" ng-click="searchFromEmail()">Tra cứu</button>
                  </form>
                </div><!-- /form-panel -->
              </div><!-- /col-lg-12 -->
            </div>
          	<div class="row">
              <div class="col-md-15">
                <div class="form-panel">
                  <h4 class="mb"><i class="fa fa-angle-right"></i> Danh sách sân bay</h4>
                  <table class="table table-striped table-advance table-hover">
                    <hr>
                    <thead>
                    <tr>
                      <th><i class="fa fa-bullhorn"></i> Mã đặt chỗ</th>
                      <th class="hidden-phone"><i class="fa fa-question-circle"></i> Mã chuyến bay</th>
                      <th><i class="fa fa-bookmark"></i> Ngày đi</th>
                      <th><i class="fa fa-bullhorn"></i> STT</th>
                      <th class="hidden-phone"><i class="fa fa-question-circle"></i> Hạng</th>
                      <th><i class="fa fa-bookmark"></i> Mức giá</th>
                    </tr>
                    </thead>
                    <tbody  ng-repeat="item in flight">
                    <tr >
                      <td>{{item.MaDatCho}}</td>
                      <td>{{item.MaChuyenBay}}</td>
                      <td>{{item.Ngay}}</td>
                      <td>{{item.Hang}}</td>
                      <td>{{item.MucGia}}</td>
                      <td>{{item.GiaBan}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div><!-- /content-panel -->
              </div><!-- /col-md-15 -->
          	</div>
		</section><! --/wrapper -->
      </section><!-- /MAIN CONTENT -->

      <!--main content end-->
      
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
	<script src="assets/js/fancybox/jquery.fancybox.js"></script>    
    <script src="assets/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="assets/js/jquery.scrollTo.min.js"></script>
    <script src="assets/js/jquery.nicescroll.js" type="text/javascript"></script>


    <!--common script for all pages-->
    <script src="assets/js/common-scripts.js"></script>

    <!--script for this page-->
  <script src="js/search_flightregis.js"></script>
  
  <script>
      //custom select box

      $(function(){
          $("select.styled").customSelect();
      });

  </script>

  </body>
</html>
